html
 head
    title='Account detail page'
style
     include ../static/style.css
body
 header
    img(src='/images/feliz.png' alt='logo')
    nav
      ul.topmenu
        li
          a(href='/') Home
        li
          a(href='/account/accounts') Verkennen
        li
          a(href='/account/accounts') Matches
        li
          a(href='/aboutme') Profiel 
    p Ingelogd als: #{user.username}