html
 head
    title='Test pagina'
style
     include ../static/style.css
     include head.pug
body
div.home 
    h1= 'Feliz'
    -if (user.username == '')
            a.homebutton(href='/aanmelden') Maak een account aan
            a.homebutton(href='/login') Inloggen
    -else
        a.homebutton(href='/logout') Uitloggen