html
 head
    title='Inloggen'
style
     include ../static/style.css
     include head.pug
body
 h2= 'Inloggen op je account'
 form(action='/login/loginverify', method='post')
     fieldset
          legend Inloggen
          label(for='username') Naam:
          br
          input(name='username',type='text',accept='text') 
          br
          label(for='password') Wachtwoord: 
          br
          input(name='password' type='password' accept='password')
          br
     button.btn.btn-primary(type='submit') Inloggen