/*
*  STYLESHEET VOOR BLOK TECH
*  AUTEUR: EMMA OUDMAIJER
*  LAATSTE AANPASSING: 29 MAART 2019
BRONNEN: 
* https://stackoverflow.com/questions/54815294/pug-able-to-access-a-nested-array-from-a-mongo-database-json
* https://docs.mongodb.com/manual/reference/server-sessions/
* https://stackoverflow.com/questions/16478552/convert-objectid-mongodb-to-string-in-javascript
*/

body{
    color:black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
}
a {
  float: right;
  color: black;

}
h1{
    color: black;
    font-weight: 100;
    font-family: sans-serif;
}
/*-----------------------header-----------------------*/
@media only screen and (min-width: 53em) {

  .topmenu {
    display: inline-block;
    margin: 1.4em;
  }

  header {
    background-color: rgb(250, 160, 175);
    height: 9em;
    display: flex;
    flex-wrap: wrap;
  }
/*desktop*/

  header li {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    background-color: transparent;
    margin-top: 1.6em;
    border: 0.1em lightpink;
    background-color: pink;
    border-top: 3px solid;
    border-top-color: pink;
    font-size: 2.5em;
    margin-right: 0.1em;
  }
  header li:hover {
    border-top: 3px solid;
    border-top-color: palevioletred;
  }
  header a {
   text-decoration: none;
    text-align: center;
    color: white;
    font-family: arial;
    font-size: 0.5em;
    padding: 0.8em;
  }

  header img {
    float: left;
    padding-top: 3em;
    width: 200px;
    height: 70px;
    margin-left: 4em;
  }

}

@media only screen and (max-width: 53em) {
  .topmenu {
    display: inline-block;
    margin: 0.1em;
  }

  header {
    background-color: rgb(250, 160, 175);
    height: 9em;
    display: flex;
    flex-wrap: wrap;
  }
/*desktop*/

  header li {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    background-color: transparent;
    border: 0.1em lightpink;
    background-color: pink;
    border-top: 3px solid;
    border-top-color: pink;
    font-size: 3.5em;
    margin-right: 0.1em;
    margin-top: 1.94em;

  }
  header li:hover {
    border-top: 3px solid;
    border-top-color: palevioletred;
  }
  header a {
   text-decoration: none;
    text-align: center;
    color: white;
    font-family: arial;
    font-size: 0.3em;
    padding: 0.3em;
  }

  header img {
    float: left;
    padding-top: 3em;
    width:120px;
    height:30px;
    margin-left: 2em;

  }

  header p{
    float :left;
    position: absolute;
  }

}
/*img {
    max-width: 100%;
    max-height: 15em;
}*/



input {
width: 100%;
padding: 5px;
width: 25%;
border: 1px solid #cccccc;
border-radius: 2px;
margin-left: 20px;
margin-top: 2em;
margin-bottom: 2em;
}

  
 

  button[type=submit] {
    background-color:rgb(8, 37, 167);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
  }

  .home {
    height: 700px;
    width: 100%;
    background-image: url("images/homepage.jpg");
    border-bottom: 15px solid pink;
    margin-top:-2em;
  }

  
  a.homebutton {
  float: left;
  padding: 0.8em 3em 0.8em 3em;
  border: 1px solid pink;
  border-radius: 0.3em;
  background-color: pink;
  text-decoration: none;
  margin: 0em 0em 0em 4em;
  }

  h1 {
    padding: 6em 0em 2em 2em;
    text-transform: uppercase;
    font-size: 3em;
    
  }

  input {
    width: 90%;
    

  }

tr {
  padding-bottom: 2em;
}

li.accounts {
  border: 2px solid black;
  padding: 1em;
  width: 60%;
  height: 10em;
  background-color: pink;
  list-style: none;

}
form {
  font-size: 1em;
  border-radius: 1.1em;
  text-align: center;
  margin-right: 20%;
  margin-left: 10%;
}
fieldset{
width:100%;
padding:2em;
background-color: rgba(255, 218, 224, 0.932);
margin-bottom: 2em;
}

label{
  display: block;
  margin-top:1em;
  color:#535353;
}

input {
  width: 90%;
  height: 3em;
}

input:focus{
outline: none;
background-color: rgb(247, 119, 140);
border:2px solid black;
}

input[type="submit"]:hover{
  background-color: #c1f0f0;
}

input[type="submit"] {
  margin: 0;
  font-size: 1em;
  background-color: #FAEA31;
  color: #000555;
  border-radius: 0.2em;
  font-size: 1.2em;
  width:10em;
}

input[type="checkbox"] {
  width: 2em;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}


 form div{
  height:10em;
  padding:1em;
  text-align: center;
  margin-bottom: 10em;

}

legend {
  font-size: 1em;
}

.detailaccount {
  background-color: aliceblue;
}

legend {
  font-size: 2em;
}

h2 {
  text-align: center;
  padding-bottom: 1em;
  padding-top: 1em;
}