* { box-sizing: border-box }

body{
    background-color: darkred;
    color: white;
}

h1{
    color: white;
}

img {
    max-width: 100%;
    max-height: 15em;
}

form {
    text-align: center;
}

input {
width: 100%;
padding: 8px;
width: 25%;
border: 1px solid #ccc;
border-radius: 2px;
margin-left: 20px;
margin-top: 2em;
margin-bottom: 2em;
}

input[type=text], select, textarea{
    box-sizing: border-box;
    resize: vertical;
  }
 input, textarea { width: 50% } 
  
  label {
    text-align: left:
  }

  button[type=submit] {
    background-color:rgb(8, 37, 167);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
  }

  div {
width: 100%;
height: 20em;
background-color: whitesmoke;
  }